
<h1>Welcome to noteWorthy</h1>
<div class="container" class="card-panel teal lighten-1">
  <div id="inputBox">
    <h3>Add a Notebook</h3>
    <%= form_for @notebook, url: {action: "create"} do |f| %>
      <%= f.text_field :title, placeholder: 'Create new notebook' %>
      <%= f.hidden_field :user_id, :value => @user %>
      <%= f.submit "Create" %>
    <% end %>
  </div>

<div class="row">
  <div class="longone">
    <div class="ingbox">
      <h1>test</h1>
    </div>
    <div class="ingbox">
      <h1>test2</h1>
    </div>
    <div class="ingbox">
      <h1>test3</h1>
    </div>
    <div class="ingbox">
      <h1>test4</h1>
    </div>
    <div class="ingbox">
      <h1>test5</h1>
    </div>
  </div>
</div>
  <div class="row">
   <% @notebooks.each do |notebook| %>
  <div class="notebookTitles">
    Notebook Title:
    <a class='show_notes'><b><%= notebook.title %></b></a>
    <br><br>
    <% notebook.notes.each do |note| %>
    <%# byebug %>
    <% puts "Notes #{note.title}" %>
    <div class="notes">
      Note Title: <%= note.title %>
      <br>
      Note Body: <%= note.body %>
      <br>
      <%= link_to 'Destroy',  note,  method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
    <% end %>
</div>
<div class="addNotes">
  <b>Add a Note to this book</b>
  <%= form_for (@note), url: "/notes" do |f| %>
    <input type='hidden' name='notebook_id' value='<%= notebook.id %>'>
    <%= f.text_field :title, placeholder: 'title'  %><br>
    <%= f.text_area :body, placeholder: 'body' %><br>
    <%= f.submit "Create" %>
    <%= link_to 'Destroy Notebook',  notebook,  method: :delete, data: { confirm: 'Are you fucking sure?' } %>
  <% end %>
</div>
<
<hr>
<% end %>






<!-- <br><br>

<h1>Add a Notebook</h1>
<%= form_for @notebook, url: {action: "create"} do |f| %>
  <%= f.text_field :title %>
  <%= f.submit "Create" %>
<% end %> -->
