
<h1>Welcome to noteWorthy</h1>
<div class="container" class="card-panel teal lighten-1">
  <div id="inputBox">
    <h3>Add a Notebook</h3>
    <%= form_for @notebook, url: {action: "create"} do |f| %>
      <%= f.text_field :title %>
      <%= f.hidden_field :user_id, :value => @user %>
      <%= f.submit "Create" %>
    <% end %>
  </div>
 <% @notebooks.each do |notebook| %>
  <div class="row">
    <div class="col s12 m6 l3"><p><%= notebook.title %></p></div>
    <div class="col s12 m6 l3"><p>s12 m6 l3</p></div>
    <div class="col s12 m6 l3"><p>s12 m6 l3</p></div>
    <div class="col s12 m6 l3"><p>s12 m6 l3</p></div>
  </div>
  </div>
  <div class="notebookTitles">
    Notebook Title:
    <a class='show_notes'><b><%= notebook.title %></b></a>
    <br><br>
    <% notebook.notes.each do |note| %>
    <%# byebug %>
    <% puts "Notes #{note.title}" %>
    <div class="notes">
      Note Title: <%= note.title %>
      <br>
      Note Body: <%= note.body %>
      <br>
      <%= link_to 'Destroy',  note,  method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
      <br><br>
    <% end %>
    <br>
</div>
<div class="addNotes">
  <b>Add a Note to this book</b>
  <%= form_for (@note), url: "/notes" do |f| %>
    <input type='hidden' name='notebook_id' value='<%= notebook.id %>'>
    <%= f.text_field :title %><br>
    <%= f.text_area :body %><br>
    <%= f.submit "Create" %>
    <%= link_to 'Destroy Notebook',  notebook,  method: :delete, data: { confirm: 'Are you fucking sure?' } %>
  <% end %>
</div>
  <br><br><hr>
<% end %>

<!-- <br><br>

<h1>Add a Notebook</h1>
<%= form_for @notebook, url: {action: "create"} do |f| %>
  <%= f.text_field :title %>
  <%= f.submit "Create" %>
<% end %> -->
